.button{
    font-size: larger;
    border: 1px solid;
    font-size : 0.9em;
    color: #525252;
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.notSelected{
    color:#808080;
    border-color: #808080;
}

.selected{
    color:#232323;
    border-color: #232323;
}

i[class*="fa-tally-2"]{
    margin-right: -7px;
}

i[class*="fa-tally-3"]{
    margin-right: -4px;
}

i[class*="fa-bars"]{
    padding: 0.1em 0.2em;
}

.label{
    font-size: var(--font-body-size);
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 22px;
    text-transform: capitalize;
    text-align: left;
    color: #232323;
}