<section *ngIf="isCustomizable" class="container">
    <app-custom-section></app-custom-section>
</section>
<section *ngIf="isFilterable" class="container">
    <app-filter-section></app-filter-section>   
</section>
<section class="" *ngIf="grid === 'lines' && requireCols" class=" d-flex w-100 container-fluid justify-content-between " >
    <div *ngFor="let item of columns" class="mb-3 flex-grow-1 text-center py-4 mt-3 ">
       <span class="title">
            {{item.name}}
       </span> 
    </div>
</section> 
<section class="d-flex container-fluid flex-wrap justify-content-between w-100">
    <div *ngFor="let item of Tabledata" [ngClass]="gridClass" class="mb-3 " >
        <ng-container *ngIf="isCustomizable && grid === 'lines'; else cardView">
            <ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: item }"></ng-container>
          </ng-container>
          <ng-template #cardView>
            <ng-container *ngTemplateOutlet="cardTemplate; context: { $implicit: item }"></ng-container>
          </ng-template>
    </div>
</section>
<section >
    <app-paginator></app-paginator>
</section>

