/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('./assets/background.jpg'); /* Chemin de l'image */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
  }